#.gitignore#
.gitignore~
auto-save-list/
custom.el~
custom.el
elpa/
init.el~
lisp/#init-startup.el#
lisp/#init-ui.el#
lisp/.#init-ui.el
lisp/init-elpa.el~
lisp/init-packages.el~
lisp/init-startup.
lisp/init-ui.el~
lisp/init-startup.el~
recentf
eshell
projectile-bookmarks.eld
projectile.cache
transient/
server/
forge-database.sqlite
.cache/
.lsp-session-v1